* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: brown;
  --body-font-size: 1.75rem;
  --text-color-green: hsla(150, 100%, 66%, 0.8);
  --text-color-green-glow: hsl(150, 100%, 66%);
  --color-Light-Cyan: hsl(193, 38%, 86%);
  --body-color-GrayBlue: hsl(217, 19%, 38%);
  --body-color-DarkGrayBlue: hsl(217, 19%, 24%);
  --body-color-DarkBlue: hsl(218, 23%, 16%);
}

.container {
  /* max-width: 1440px; */
  width: clamp(375px, 40%, 1440px);
  background-color: hsl(217, 19%, 24%);
  padding: 3rem;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Manrope', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: var(--body-font-size);
  /* place-items: center; */
}

.flex h3 {
  font-size: 1rem;
  color: var(--text-color-green);
}

.flex p {
  color: var(--color-Light-Cyan);
  width: 80%;
  text-align: center;
}

.flex button {
  padding: 20px 15px;
  border-radius: 45%;
  /* width: 50%; */
  background-color: var(--text-color-green);
  border: none;
  /* position: relative;
  top: 41%; */
}

.dividerImg {
  width: 100%;
}

.diceImg {
  width: 50px;
}

button:focus:hover {
  background-color: var(--text-color-green-glow);
  box-shadow: 0px 0px 20px 5px var(--text-color-green-glow);
  transition-timing-function: ease-in;
  /* transition-delay: 1s */
}

